<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/DRCare247Project/src/test/java/com/project/org/DRCare247_Site.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.project.org.DRCare247_Site"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="DRCare247Project"/>
</launchConfiguration>
